Is HTTP 413 Payload Too Large correct for ParamLengthLimiter?

RFC 7231 [says as follows](https://tools.ietf.org/html/rfc7231#section-6.5.11):

> 6.5.11.  413 Payload Too Large
> 
>    The 413 (Payload Too Large) status code indicates that the server is
>    refusing to process a request because the request payload is larger
>    than the server is willing or able to process.  The server MAY close
>    the connection to prevent the client from continuing the request.
> 
>    If the condition is temporary, the server SHOULD generate a
>    Retry-After header field to indicate that it is temporary and after
>    what time the client MAY try again.

As far as I understand, in our case the parameter value is too long, but payload as whole isn't necessarily too large. Is HTTP 413 status code suites then? Perhaps HTTP 400 Bad Request is better?

cc @ronaldtse @ribose-jeffreylau 

I know, this is a bit strange since RFC 7231 doesn't seem to define the term "payload" and does not indicate whether the query part is part of the payload or not.

However, 6.5.12 says:

> 6.5.12.  414 URI Too Long
> 
>    The 414 (URI Too Long) status code indicates that the server is
>    refusing to service the request because the request-target (Section
>    5.3 of [RFC7230]) is longer than the server is willing to interpret.
>    This rare condition is only likely to occur when a client has
>    improperly converted a POST request to a GET request with long query
>    information, when the client has descended into a "black hole" of
>    redirection (e.g., a redirected URI prefix that points to a suffix of
>    itself) or when the server is under attack by a client attempting to
>    exploit potential security holes.
> 
>    A 414 response is cacheable by default; i.e., unless otherwise
>    indicated by the method definition or explicit cache controls (see
>    Section 4.2.2 of [RFC7234]).

Since the URI query part (the web query parameters) is part of the URI itself, maybe this is the appropriate code, even though the description may be slightly different?

The "cacheing" part also applies here too.

RFC 7230 does define that "request-target" (as described above) is this:

> 5.3.  Request Target
> 
>    Once an inbound connection is obtained, the client sends an HTTP
>    request message (Section 3) with a request-target derived from the
>    target URI.  There are four distinct formats for the request-target,
>    depending on both the method being requested and whether the request
>    is to a proxy.
> 
>      request-target = origin-form
>                     / absolute-form
>                     / authority-form
>                     / asterisk-form
>

And:

> 5.3.1.  origin-form
> 
>    The most common form of request-target is the origin-form.
> 
>      origin-form    = absolute-path [ "?" query ]

So it looks right to me that 414 is the most appropriate.
